/* Добавьте в глобальный CSS для проверки */
@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}
/* .smooth{
    transition-duration: 1000ms;
} */